PORT=3000

# Conexão PostgreSQL (Substitua pela URL do Easypanel)
DATABASE_URL="postgresql://usuario:senha@host:5432/nome_do_banco?schema=public"

# Conexão RabbitMQ (Substitua pela URL do Easypanel)
RABBITMQ_URL="amqp://user:password@rabbitmq_host:5672"
